[Unit]
Description=HW05 Bulls App

[Service]
Type=simple
User=andrew2
Group=andrew2
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4790
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/andrew2/cs4550-hw05
ExecStart=/bin/bash /home/andrew2/cs4550-hw05/start.sh

[Install]
WantedBy=multi-user.target
